@()(implicit request: RequestHeader)
@main("Admin") {
    <div class="row">
        <div class="twelve columns">
            <h3>Register New Admin</h3>
        </div>
    </div>
    <form method="POST" action="@routes.AdminOps.createAdmin" id="newAdminForm">
        <label for="username">Username:</label>
        <input class="u-full-width" name="username" type="text" /><br>
        <label for="password">Password:</label>
        <input class="u-full-width" name="password" type="password" /><br>
        <label for="password2">Retype Password:</label>
        <input class="u-full-width" name="password2" type="password" /><br>
        <button class="button-primary" id="login">Register</button>
        <a class="button" id="signUp" href="@controllers.authentication.routes.Authentication.adminlogin">Login</a>
    </form>
}