@()(implicit request: RequestHeader)
@main("AdminLogin") {
	<section id="Container">
		<h3>Please Log In</h3>
		<form method="POST" action="@controllers.authentication.routes.Authentication.adminlogin" id="loginForm">
			<label for="username">Username:</label>
			<input class="u-full-width" name="username" type="text" /><br>
			<label for="password">Password:</label>
			<input class="u-full-width" name="password" type="password" /><br>
			<button class="button-primary" id="login">LogIn</button>
			<a class="button" id="signUp" href="@controllers.routes.AdminOps.newAdminForm">Sign Up</a>
		</form>
	</section>
}