<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/nav.css")">
<br>
<div class="row">
    <nav>
      <ul class="offset-by-two four colums">
        <a class="button" href="@controllers.routes.AdminOps.users"><li>Users</li></a>
        <a class="button" href="@controllers.routes.AdminOps.picks"><li>Picks</li></a>
        <a class="button" href="@controllers.routes.AdminOps.matches"><li>Matches</li></a>
        <a class="button" href="@controllers.authentication.routes.Authentication.adminlogin"><li>Logout</li></a>
      </ul>
    </nav>
</div>