@(title: String)(implicit request: RequestHeader)

@main(title) {
    @adminBar()
    <button class="button-primary" id="sendMail">Match and Send Emails</button>
    <script type="text/javascript">
        document.getElementById("sendMail").addEventListener('click', function() {
            $.ajax("/matches", {
              type: "post",
              data: "",
              cache: false,
              contentType: false,
              processData: false,
              success: function () {
                alert("didit");
              },
              error: function(data) {
                alert("borked");
                  console.log(data);
              }
            });
        });
    </script>
}
