@(users: List[models.User])(implicit request: RequestHeader, admin: models.Admin)
@main("Admin") {
@adminBar()
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>gender</th>
				<th>email</th>
				<th>phone</th>
				<th>dateId</th>
			</tr>
		</thead>
		<tbody>
		@for(user <- users) {
				<tr>
					<td>@user.id.get</td>
					<td>@user.firstName</td>
					<td>@user.lastName</td>
					<td>@user.gender</td>
					<td>@user.email</td>
					<td>@user.phone</td>
					<td>@user.dateId</td>
				</tr>
		}
		</tbody>
	</table>
}