@(implicit request: RequestHeader)

@if(request.flash.get("alert").isDefined) {
    <div class="alert">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Just a sec...</strong> @Html(request.flash("alert"))
    </div>
    <script>
     $(document).ready(function(){
            $(".alert").click(function(){
                $(".alert").hide();
            })
        })
    </script>
}
@if(request.flash.get("error").isDefined) {
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Oh snap!</strong> @Html(request.flash("error"))
    </div>
     <script>
     $(document).ready(function(){
            $(".alert").click(function(){
                $(".alert").hide();
            })
        })
    </script>
}
@if(request.flash.get("success").isDefined) {

    <div class="alert alert-success">
        <a class="close">×</a>
        <strong>Alright!</strong> @Html(request.flash("success"))
    </div>
    <script>
     $(document).ready(function(){
            $(".alert").click(function(){
                $(".alert").hide();
            })
        })
    </script>
}
@if(request.flash.get("info").isDefined) {
    <div class="alert alert-info">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Heads up.</strong> @Html(request.flash("info"))
    </div>
    <script>
     $(document).ready(function(){
            $(".alert").click(function(){
                $(".alert").hide();
            })
        })
    </script>
}