@()(implicit request: RequestHeader)
@main("Tri-Ward Speed Dating") {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/ractive.min.js")"></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/login.js")'></script>
    <div id="Container">
        <p>
            <div class="row">
                <div class="one-half column">
                    <h3>Welcome to Tri-Ward Speed Dating!</h3>
                </div>
            </div>
            <ul>
                <li>Thank you for participating!</li>
                <li>You have 3 minutes to change you destiny!</li>
            </ul>
        </p>
        <h5 class="header-gender">Select Your Gender</h5>
        <div class="row">
            <div class="one-third column">
                <a class="button button-primary" href="@routes.Application.selectGender("male")">
                    Male
                </a>
            </div>
            <div class="one-third column">
                <a class="button button-primary" href="@routes.Application.selectGender("female")">
                    Female
                </a>
            </div>
        </div>
        <br>
        <div class="row bottom">
            <div id="loginEl" class="offset-by-two eight columns">

            </div>
        </div>
    </div>
    <script type="text/javascript">
        
    </script>
}
