@(title: String, error: String = "")(implicit request: RequestHeader)

@main(title) {
	<head>
		<title>
			Tri-Ward Speed Dating
		</title>
	</head>
	<body>
	<section id="MainContainer">
		<h3> Go to an ADMINISTRATOR to receive your Date ID Number and Name Tag</h3>
		<form method="POST" action="@routes.Application.login" id="loginForm">
			<label for="firstName">First Name:</label>
			<input class="u-full-width" name="firstName" type="text" /><br>
			<label for="dateId">Date ID Number:</label>
			<input class="u-full-width" name="dateId" type="text" /><br>
			<button class="button-primary" id="login">LogIn</button> 
		</form>
	</section>
	</body>

	<script type="text/javascript">
      $(document).ready(function(){
      	var error = "@error";
      	if (error!== "") {
      		alert(error);
      	}
      });
    </script>
}