@(title: String, dateId: String)(implicit request: RequestHeader)

@main(title) {
<style type="text/css">
  li {
    list-style: none;
    font-size: 2em;
  }
</style>
<script type="text/javascript" src="@routes.Assets.at("javascripts/libs/ractive.min.js")"></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/picks.js")'></script>
<script type="text/javascript">var dateId = "@dateId";</script>
  <div id='MainContainer'>
  <br>
    <div class="row">
      <div class="six columns">
        Enter the Id's you would like to get to know better.
      </div>
      <div class="six columns">
        <a href="@routes.Application.loginPage" type="button" class="button">Logout</a>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <ul id="listEl">
        </ul>
      </div>
    </div>
  </div>
  <script type="text/javascript">

  </script>
}