@(title: String, gender: String)(implicit request: RequestHeader)
@main(title) {
  <h3 class="title">Tri-Ward Speed Dating</h3>
  <h4>Registration Page</h4>
  <form id="registration">
    <div class="ui-field-contain">
    <div data-role="main" class="ui-content">
      <label for="fname">First name:</label>
      <input class="u-full-width" type="text" name="fname" placeholder="Your First Name" id="fname">
      <label for="lname">Last name:</label>
      <input class="u-full-width" type="text" name="lname" placeholder="You Last Name" id="lname">
      <label for="email">Your email:</label>
      <input class="u-full-width" name="email" type="email" placeholder="test@@mailbox.com">
      <label for="phone">Telephone:</label> <input class="u-full-width" type="tel" name="phone" placeholder="Your telephone number" />
    </div>
    </div>
    <button id="SubmitInfo" class="button-primary">Submit</button>
    <img id="loading" src="@routes.Assets.at("images/load.gif")">
  </form>
  <script type="text/javascript">

    // initialize the button and spinner
    $("#loading").hide();

    var change = function() {
      var $button = $("#SubmitInfo");
      var $gif = $("#loading");
      if ($button.is(":visible")) {
        $button.hide();
        $gif.show();
      } else {
        $button.show();
        $gif.hide();
      }
    }

    $(document).ready(function(){

      $('#SubmitInfo').click(function(e){
        e.preventDefault();
        change();
        var gender = "@gender";

        // Create and send post request.
        var phoneNumber = registration.elements["phone"].value.replace(/\D/g,'');
        var email = registration.elements["email"].value;
        var fname = registration.elements["fname"].value;
        var lname = registration.elements["lname"].value;

        if (phoneNumber.length!=10) {
          console.log("Phone not correct length");
          change();
          return;
        }
        if (!email.includes("@@")) {
          // alert user of invalid email
          console.log("invalid email")
          change();
          return;
        }
        var formData = new FormData();
        formData.append("firstName", fname);
        formData.append("lastName", lname);
        formData.append("phone", phoneNumber);
        formData.append("email", email);
        formData.append("gender", gender);

        $.ajax("/addUser", {
            type: "post",
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function () {
                $("#loading").hide();
                window.location = "/login";
            },
            error: function(data) {
                console.log(data);
                change();
            }
        });
      });

    });
  </script>
}